<clr-modal [(clrModalOpen)]="editModalOpen">
  <h3 class="modal-title">Edit Forwarder Entry</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label class="clr-required-mark">DNS Suffix</label>
        <input clrInput placeholder="fqdn.local" name="suffix" [(ngModel)]="forwarderEntry.suffix" />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-required-mark">IP Address</label>
        <input clrInput placeholder="127.0.0.1" name="address" [(ngModel)]="forwarderEntry.address" />
      </clr-input-container>
      <clr-textarea-container>
        <label>Note</label>
        <textarea clrTextarea name="note" [(ngModel)]="forwarderEntry.note"></textarea>
      </clr-textarea-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="editModalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveEntry()">Save</button>
  </div>
</clr-modal>
